:root {
    --color-darkcyan: #0E8784;
    --color-darkgrey: #333D4B;
    --color-orange: #FDD6BA;
    --body-bgcolor: #FEFCF7;
    --color-grey: #83888F;
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-700.woff') format('woff');
}


@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v23-latin-regular.woff2') format('woff2'),
        url('../fonts/fraunces-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'),
        url('../fonts/fraunces-v23-latin-900.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

img {
    display: block;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #FEFCF7;
    overflow-x: hidden;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    /* overflow: hidden; */
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1330px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 25px;
}

/* STICKY-FOOTER */
.site-main {
    flex-grow: 1;
}

.site-header {
    padding: 32px 0 41px 0;
}

.site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sitenav {
    display: none;
}

.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 33px;
}

.sitenav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: var(--color-grey);
    text-decoration: none;
}


.site-header__menu-btn {

    width: 16px;
    height: 15px;
    background-image: url("../images/phone-btn.svg");
    background-color: transparent;
    border: none;
}

/* .site-header__sitenav .sitenav {
    display: block;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.sitenav {
    width: 375px;
    height: 537px;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    position: absolute;
    top: 0;
    right: -105px;
}

.sitenav__list {
    width: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__img--btn {
    margin-bottom: 81px;
}

.sitenav__item {}

.sitenav__link {}
  */




@media only screen and (min-width: 660px) {

    .logo__img {
        width: 236px;
        height: 26px;
    }

    .site-header__menu-btn {
        display: none;
    }

    .sitenav {
        display: block;
    }

}

@media only screen and (min-width: 1000px) {

    .sitenav__link:hover {
        color: #333D4B;
    }

}


/* =============== HERO BEGIN ============== */

.hero {
    padding-bottom: 120px;
}

.hero__content-box {
    width: 100%;
    padding: 100px 24px;
    background-image: url("../images/hero-mobilebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.hero__content {
    width: 100%;
    max-width: 280px;
}

.hero__topic {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    color: var(--body-bgcolor);
}

.hero__text {
    margin: 0;
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--body-bgcolor);
    mix-blend-mode: normal;
    opacity: 0.8;
}

.btn {
    width: 217px;

}

.hero__link {
    display: block;
    padding: 15px 31px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--body-bgcolor);
    background-color: var(--color-darkcyan);
    border-radius: 6px;
    text-decoration: none;
}

@media only screen and (min-width: 425px) {

    .hero__content-box {
        width: 100%;
        padding: 117px 0 117px 85px;
        background-image: url("../images/hero-tabletbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

}


@media only screen and (min-width: 650px) {

    .hero__content {
        width: 100%;
        max-width: 374px;
    }

    .hero__topic {
        text-align: start;
        font-size: 48px;
        line-height: 48px;
    }

    .hero__text {
        text-align: start;
        font-size: 15px;
        line-height: 22px;
    }

}

@media only screen and (min-width: 1100px) {

    .hero__content-box {
        background-image: none;
        width: 100%;
        padding: 104px 0 104px 58px;
        background-image: url("../images/hero-desktopbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

    .hero__content {
        width: 100%;
        max-width: 493px;
    }

    .hero__topic {
        text-align: start;
        font-size: 72px;
        line-height: 72px;
    }

    .hero__text {
        text-align: start;
        font-size: 16px;
        line-height: 26px;
    }

    .hero__link:hover {
        background-color: #66D2CF;
    }

    .hero__link:active {
        background-color: #E2DEDB;
    }
}


/* ======= COLLECTION SECTION CSS ====== */
.collection {
    padding-top: 20px;
    padding-bottom: 120px;
}

.collection__list {
    background-image: url("../images/our-collection.svg");
    background-repeat: no-repeat;
    background-size: 261px 72px;
    background-position: calc(50%) calc(50% + -574px);
}

.collection__list {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    list-style: none;
}

.collection__item {
    width: 100%;
    max-width: 282px;
    margin: 0 auto;
}

.collection__item:not(:last-child) {
    margin-bottom: 48px;
}

.collection__img {
    margin-bottom: 24px;
    margin: 0 auto;
}

.collection__topic {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.collection__topic-link {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--color-darkgrey);
    text-decoration: none;

}

.collection__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--color-darkgrey);
}



@media only screen and (min-width: 660px) {

    .collection__list {
        background-size: 640px 84px;
        background-position: calc(50% + 3px) calc(50% + -461px);
    }

    .collection__item {
        width: 100%;
        max-width: 689px;
    }

    .collection__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }

    .collection__img {
        width: 255px;
        height: 193px;
        margin-bottom: 0;
    }

    .collection__item-content {
        width: 282px;
    }

    .collection__topic {
        text-align: start;
    }

    .collection__topic-link {
        font-size: 24px;
        line-height: 32px;
        text-align: start;
    }


    .collection__text {
        text-align: start;
    }

}


@media only screen and (min-width: 1000px) {

    .collection {
        padding-top: 126px;
        padding-bottom: 200px;
    }

    .collection__list {
        background-image: url("../images/our-collection.svg");
        background-repeat: no-repeat;
        background-size: 1111px 180px;
        background-position: calc(50% + -9px) calc(50% + -139px);
    }

    .collection__list {
        display: flex;
        align-items: center;
        padding-top: 80px;
    }

    .collection__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 230px;
    }

    .collection__item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }

    .collection__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }

    .collection__img {
        width: 221px;
        height: 139px;
        margin-bottom: 29px;
    }

    .collection__item-content {
        width: 245px;
    }

    .collection__topic {
        text-align: center;
    }

    .collection__topic-link {
        font-size: 24px;
        line-height: 32px;
    }


    .collection__text {
        text-align: center;
    }

}



/* =========== choose us section =======  */

.choose-us {
    padding-bottom: 660px;
}

.choose-us__list-box {
    padding: 64px 20px 640px 20px;
    position: relative;
    border-radius: 10px;
    background-color: #2C343E;
}

.choose-us__content {
    width: 100%;
    max-width: 279px;
    margin: 0 auto;
}

.choose-us__topic {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: var(--body-bgcolor);
}

.choose-us__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--body-bgcolor);
    mix-blend-mode: normal;
    opacity: 0.8;
}

.choose-us__list {

    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    right: calc(50% + -118px);
    top: calc(50% + -101px);
}

.choose-us__item {
    width: 100%;
    max-width: 240px;
    padding: 200px 12px 51px 12px;
    background-color: #0E8784;
    border-radius: 8px;
    position: relative;
}

.choose-us__item:not(:last-child) {
    margin-bottom: 24px;
}

.choose-us__item::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    width: 71px;
    height: 72px;
    position: absolute;
    top: 78px;
    left: 80px
}

.choose-us__item--bean::before {
    background-image: url("../images/coffee-bean.svg");
}

.choose-us__item--gift::before {
    background-image: url("../images/gift.svg");
}

.choose-us__item--shipping::before {
    background-image: url("../images/shipping.svg");
}

.choose-us__item-topic {
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
}

.choose-us__topic-link {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--body-bgcolor);
    text-decoration: none;
}

.choose-us__item-text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--body-bgcolor);
}



@media only screen and (min-width: 660px) {

    .choose-us {
        padding-bottom: 350px;
    }

    .choose-us__list-box {
        padding: 71px 74px 368px 74px;
        position: relative;
    }

    .choose-us__content {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }

    .choose-us__list {
        position: absolute;
        right: calc(50% + -286px);
        top: calc(50% + -43px);
    }

    .choose-us__item {
        width: 100%;
        max-width: 573px;
        padding: 41px 48px 41px 181px;
    }


    .choose-us__item::before {
        top: 64px;
        left: 61px;
    }

    .choose-us__item-topic {
        text-align: start;
    }

    .choose-us__item-text {
        text-align: start;
    }
}



@media only screen and (min-width: 1000px) {

    .choose-us {
        padding-bottom: 250px;
    }

    .choose-us__list-box {
        background-position: calc(50% + -1px) calc(50% + -132px);

        position: relative;
    }

    .choose-us__content {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }

    .choose-us__list {
        display: flex;
        position: absolute;
        right: calc(50% + -490px);
        top: calc(50% + 46px);
    }

    .choose-us__item {
        width: 100%;
        max-width: 307px;
        padding: 200px 37px 48px 41px;
    }

    .choose-us__item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;

    }

    .choose-us__item::before {
        top: 73px;
        left: 112px;
    }

    .choose-us__item-topic {
        text-align: center;
    }

    .choose-us__item-text {
        text-align: center;
    }
}



/* ========= HOW IT WORKS SECTION CSS ========  */
.works {
    padding-top: 140px;
    padding-bottom: 120px;
}

.works__topic {
    margin: 0;
    margin-bottom: 80px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--color-grey);
}

.works__list {
    margin: 0;
    margin-bottom: 79px;
    padding: 0;
    list-style: none;
}

.works__item {
    width: 252px;
    margin: 0 auto;
    padding-top: 96px;
    position: relative;
}

.works__item::before {
    content: "";
    background-image: url("../images/01.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 72px;
    position: absolute;
    top: 0px;
    left: 81px;
}


.works__item--choose::before {
    content: "";
    background-image: url("../images/02.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 101px;
    height: 72px;
    position: absolute;
    top: 0px;
    left: 81px;
}

.works__item--enjoy::before {
    content: "";
    background-image: url("../images/03.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 101px;
    height: 72px;
    position: absolute;
    top: 0px;
    left: 81px;
}

.works__item:not(:last-child) {
    margin-bottom: 56px;
}

.works__tittle {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: var(--color-darkgrey);
}

.works__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--color-darkgrey);
}

.works__link-box {
    width: 217px;
    margin: 0 auto;
}

.works__link {
    display: inline-block;
    padding: 16px 31px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--body-bgcolor);
    background-color: #0E8784;
    border-radius: 6px;
    text-decoration: none;
}




@media only screen and (min-width: 660px) {

    .works {
        padding-bottom: 144px;
    }

    .works__topic {
        text-align: start;
        margin-bottom: 119px;
    }

    .works__list {
        display: flex;
        margin-bottom: 44px;
        position: relative;
    }

    .works__list::before {
        content: "";
        background-image: url("../images/works-listbefore.svg");
        background-repeat: no-repeat;
        width: 497px;
        height: 31px;
        position: absolute;
        top: -73px;
        left: 28px;
    }

    .works__item {
        padding-top: 114px;
        width: 223px;
    }

    .works__item:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .works__item::before {
        top: 7px;
        left: 18px;
    }

    .works__link-box {
        margin-left: 0;
        margin-right: auto;
    }
}



@media only screen and (min-width: 1000px) {

    .works {
        padding-bottom: 200px;
    }

    .works__box {
        padding-left: 85px;
    }

    .works__topic {
        text-align: start;
        margin-bottom: 110px;
        margin-bottom: 178px;

    }

    .works__list {
        display: flex;
        margin-bottom: 64px;
        position: relative;
    }

    .works__list::before {
        content: "";
        background-image: url("../images/works-desktopbefor.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 670px;
        height: 31px;
        position: absolute;
        top: -92px;
        left: 20px;
    }

    .works__item {
        padding-top: 114px;
        width: 223px;
        margin: 0;
    }



    .works__tittle {
        font-size: 32px;
        line-height: 36px;
        text-align: start;
    }

    .works__text {
        font-size: 16px;
        line-height: 26px;
        text-align: start;
    }

    .works__item:not(:last-child) {
        margin-right: 95px;
        margin-bottom: 0;
    }

    .works__item::before {
        top: 7px;
        left: 18px;
    }

    .works__link-box {
        margin-left: 0;
        margin-right: auto;
    }

    .works__link:hover {
        background-color: #66D2CF;
    }

}




/* ========= footer css =========  */

.site-footer {
    padding-bottom: 72px;
}

.site-footer__box {
    padding: 55px 28px;
    background-color: #2C343E;
}

.site-footer__logo-img {
    width: 218px;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.site-footer__list {
    width: 122px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-bottom: 49px;
}

.site-footer__item {
    text-align: center;
}

.site-footer__item:not(:last-child) {
    margin-bottom: 24px;
}

.site-footer__item-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: var(--color-grey);
    text-decoration: none;
}

.site-footer__social-list {
    width: 120px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.site-footer__social-item:not(:last-child) {
    margin-right: 24px;
}

.site-footer__social-img {
    color: var(--body-bgcolor);
}



@media only screen and (min-width: 660px) {

    .site-footer__box {
        padding: 54px 190px 54px 215px;
    }

    .site-footer__logo-img {
        width: 236px;
        height: 26px;
        margin-bottom: 32px;
    }

    .site-footer__list {
        width: 283px;
        display: flex;
        align-items: center;
        margin-bottom: 65px;
    }



    .site-footer__item:not(:last-child) {
        margin-right: 32px;
        margin-bottom: 0;
    }


}



@media only screen and (min-width: 1000px) {

    .site-footer__box {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 47px 85px;
    }

    .site-footer__logo-img {
        width: 236px;
        height: 26px;
        margin-right: 103px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .site-footer__list {
        margin-bottom: 0;
        margin: 0;
    }

    .site-footer__social-list {
        margin: 0;
        margin-left: auto;
    }

    .site-footer__item-link:hover {
        color: #FEFCF7;
    }

    .site-footer__social-img:hover {
        color: #FDD6BA;
    }

}







/* =========== ABOUT PAGE CSS =========  */

/* ==== ABOUT SECTION CSS  */






